# See https://help.github.com/ignore-files/ for more about ignoring files.
inheritance.json
roles.json

# dependencies
ui/node_modules

# testing
ui/coverage

# production
#/build

#where uploaded files are stored
data

# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.workspace.yaml
