body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

fieldset{
  border:0;
  padding:0;
}

.form-control[type="text"],.form-control[type="number"]  {
  padding:.8rem 1rem;
  width:100%;
  border-width:1px;
}

.form-control {
  width:100%;
  display:block;
  /*border-width:1px;*/
}

select.form-control {
  padding:.8rem 1rem;
  background:transparent;
  width:100%;
}

input.form-control{
  border-color:rgba( 0, 0, 0, .3 );
}

/*So the default title doesnt spoil the look of the form*/
#root__title{
  display:none;

}

label[for='root']{
  display:none;
}

.radio-inline{
  padding-right: 1rem;
  display:inline-block;

}
.radio-inline input[type=radio]{
  margin-right: .3rem;
  display: inline-block;
}


/*Hide labels for elements which dont need duplicate labels*/


.field-object legend{
  display: none;
}
/*End Hide labels */


/* Change default behaviour from array add buttons which rely on glyphicons */
i.glyphicon { display: none; }
.btn-add::after { content: 'Add'; }
.array-item-move-up::after { content: 'Move Up'; }
.array-item-move-down::after { content: 'Move Down'; }
.array-item-remove::after { content: 'Remove'; }

/* End glypicon work */


.array-item-list .array-item{
  border-left:1px #999 solid;
  padding-left: 6px;
}

.field-boolean>label{
  display:none;
}

.field-boolean input[type=checkbox]{
  margin-right:5px;
}

.btn{
  padding: .7rem 1.2rem;
  border:none;
  background-color:#001B44;
  color:rgba(255, 255, 255, 0.7);
  box-shadow:2px 2px 8px 0 rgba( 0, 0, 0, .2 );
}
